* {
  box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Gruppo', cursive;
}
#hero .arrow-box { background: #2C3A47;}
#hero .arrow { border-color: #1B9CFC transparent transparent transparent; }

#one .arrow-box { background: #1B9CFC;}
#one .arrow { border-color: #2C3A47 transparent transparent transparent; }

#two .arrow-box { background: #2C3A47;}
#two .arrow { border-color: #1B9CFC transparent transparent transparent; }

#footer { background-color: rgba(0,0,0,0.5); }

#nav-container {
  position: fixed;
  left: 1em;
  top: 50%;
  transform: translateY(-50%);
  z-index: 99;
}
#menu {
  display: block;
  list-style-type: none;
  margin-left: -2em;
}
#menu li a {
  background: #f2f2f2;
  display: block;
  width: 11px;
  height: 11px;
  margin: 1.5em 0;
  border-radius: 3px;
  transition: all .4s cubic-bezier(0.71,-1.03, 0.26, 2.74);
}

.link-active {background-color: #fff;transform: scale(2);}

@media (max-width: 767px) {
  #nav-container { display: none; }
}

#fullpage {
  position: relative;
  width: 100%;
}
.section {  
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  height: 100vh;
  position: relative;
  width: 100%;
}
.section:nth-child(odd) {
  background: #1B9CFC;
}
.section:nth-child(even) {
  background: #2C3A47;
}
.arrow-box {
  position: absolute;
  bottom: 0;
  height: 20px;
  width: 100%;
}
.arrow {  
  border-style: solid;
  border-width: 15px 15px 0 15px;
  height: 0;
  margin: 0 auto;
  width: 0;
}
#three {
  justify-content: space-between;
}
.three-text-form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90vh;
  justify-content: center;
}
#footer {
  display: flex;
  align-items: center;
  height: 10vh;
  width: 100%;
}
#footer p {
  margin: auto;
  color: #fff;
}

/* ======================== form style ======================== */
#hero {
  background: url('../img/banner.jpg') center no-repeat;
  background-size: cover;
}
#hero #form-wrapper {
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
	width: 350px;
}

#hero #form-wrapper .login-form {
	width: 100%;
	position: relative;	
	background: #fff;
	border-radius: 5px;	
	box-shadow: 5px 8px 15px rgba(0,0,0,0.2);
}
#hero #form-wrapper .login-form .header {
	padding: 1rem;
}
#hero #form-wrapper .login-form .header h1 {
	font-size: 28px;
	color: #d8d8d8;
	margin-bottom: 10px;
}
#hero #form-wrapper .login-form .content {
	padding: 0 1rem;
}
#hero #form-wrapper .login-form .content .input,
#hero #form-wrapper .login-form .content textarea {
	width: 100%;
  padding: 15px 20px;
	font-weight: 400;
	font-size: 14px;
  margin-bottom: 1rem;	
  background: none;
  border: none;
	border-bottom: 1px solid #aaaaaa;  
  outline: none;
}

#hero #form-wrapper .animated-icon   {
	width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
	display: block;
	position: absolute;
  left: 0px;
  z-index: -1;
  background: #fff;
}

#hero #form-wrapper .form-group {
  position: relative;
}

#hero #form-wrapper .form-group .animated-icon {
  position: absolute;
  top: 35%;
  left: 0;
  transform: translateY(-50%);
}

#hero #form-wrapper .content input:focus + div{
  left: -60px;
  opacity: 1;
}
#hero #form-wrapper .email-icon,
#hero #form-wrapper .user-icon,
#hero #form-wrapper .phone-icon {
	transition: all 0.3s cubic-bezier(0.36, -0.89, 0, 1.79);
}

#hero #form-wrapper .login-form .footer {
	padding: 1rem;
}

#hero #form-wrapper .login-form .footer .button {
	padding: 11px 25px;
	
	font-weight: 300;
	font-size: 18px;
	color: #fff;
	
	background: #56c2e1;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

#hero #form-wrapper .login-form .footer .button:hover {
	background: #3f9db8;
}

/* ===================== slider section style ======================= */
#one {
	background: #111;
	perspective: 1000px;
	transform-style: preserve-3d;
}

#slider-main,
#slider-item {
	position: relative;
	display: flex;
	margin: auto;
	transform-style: preserve-3d;
	transform: rotateX(-10deg);
}

#slider-main img {
	transform-style: preserve-3d;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	line-height: 200px;
	font-size: 50px;
	box-shadow: 0 0 8px 5px #111;
	border-radius: 12px;
	transition: all .2s linear;
	box-reflect: below 10px linear-gradient(transparent, transparent, #0005);
	-webkit-box-reflect: below 10px linear-gradient(transparent, transparent, #0005);
	-moz-box-reflect: below 10px linear-gradient(transparent, transparent, #0005);
	-o-box-reflect: below 10px linear-gradient(transparent, transparent, #0005);
}

#slider-main img:hover {
	box-reflect: below 10px linear-gradient(transparent, transparent, #0007);
	-webkit-box-reflect: below 10px linear-gradient(transparent, transparent, #0007);
	-moz-box-reflect: below 10px linear-gradient(transparent, transparent, #0007);
	-o-box-reflect: below 10px linear-gradient(transparent, transparent, #0007);
}

#slider-main p {
	font-family: Serif;
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translate(-50%, -50%) rotateX(90deg);
	color: #fff;
	font-size: 34px;
}

#ground {
	width: 900px;
	height: 900px;
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translate(-50%, -50%) rotateX(90deg);
	background: -webkit-radial-gradient(center center, farthest-side, #9993, transparent);
}

@keyframes spin {
	from {
		transform: rotateY(0deg);
	}

	to {
		transform: rotateY(360deg);
	}
}

@keyframes spinRevert {
	from {
		transform: rotateY(360deg);
	}

	to {
		transform: rotateY(0deg);
	}
}
