body {
    margin: 0;
    padding: 0;
    text-align: center;
  }
#hero .arrow-box { background: #2C3A47;}
#hero .arrow { border-color: #1B9CFC transparent transparent transparent; }

#one .arrow-box { background: #1B9CFC;}
#one .arrow { border-color: #2C3A47 transparent transparent transparent; }

#two .arrow-box { background: #2C3A47;}
#two .arrow { border-color: #1B9CFC transparent transparent transparent; }

#footer { background-color: rgba(0,0,0,0.5); }

#nav-container {
  position: fixed;
  left: 1em;
  top: 50%;
  transform: translateY(-50%);
  z-index: 99;
}
#menu {
  display: block;
  list-style-type: none;
  margin-left: -2em;
}
#menu li a {
  background: #f2f2f2;
  box-sizing: border-box;
  display: block;
  flex-direction: column;
  width: 11px;
  height: 11px;
  margin: 1.5em 0;
  border-radius: 3px;
  transition: all .4s cubic-bezier(0.71,-1.03, 0.26, 2.74);
}

#nav { display: none; }

.link {
  background: #f2f2f2;
  box-sizing: border-box;
  display: block;
  color: #fff;
  width: 11px;
  height: 11px;
  margin: 1.5em 0;
  border-radius: 3px;
  transition: all .4s cubic-bezier(0.71,-1.03, 0.26, 2.74);
}
.link-active {background-color: #fff;transform: scale(2);}

@media screen and (max-width: 1024px) {
  #nav { display: block; }
  #menu { display: none; }
}

#fullpage {
  position: relative;
  width: 100%;
}
.section {  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: relative;
  width: 100%;
}
.section:nth-child(odd) {
  background: #1B9CFC;
}
.section:nth-child(even) {
  background: #2C3A47;
}
.arrow-box {
  position: absolute;
  bottom: 0;
  height: 20px;
  width: 100%;
}
.arrow {  
  border-style: solid;
  border-width: 15px 15px 0 15px;
  height: 0;
  margin: 0 auto;
  width: 0;
}
#three {
  justify-content: space-between;
}
.three-text-form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90vh;
  justify-content: center;
}
#footer {
  display: flex;
  align-items: center;
  height: 10vh;
  width: 100%;
}
#footer p {
  margin: auto;
  color: #fff;
}

/* ======================== form style ======================== */

#hero #form-wrapper {
  position: absolute;
  top: 50%;
  right: 2rem;
  transform: translateY(-50%);
	width: 350px;
}

#hero #form-wrapper .login-form {
	width: 100%;
	position: relative;
	
	background: rgba(0,0,0,0.3);
	border-radius: 5px;
	
	box-shadow: 5px 8px 10px rgba(0,0,0,0.2);
}

#hero #form-wrapper .login-form .header {
	padding: 1rem;
}

#hero #form-wrapper .login-form .header h1 {
	font-weight: 300;
	font-size: 28px;
	line-height:34px;
	color: #d8d8d8;
	margin-bottom: 10px;
}

#hero #form-wrapper .login-form .content {
	padding: 0 30px 25px 30px;
}

#hero #form-wrapper .login-form .content .input,
#hero #form-wrapper .login-form .content textarea {
	width: 100%;
  padding: 15px 20px;
  box-sizing: border-box;
	font-weight: 400;
	font-size: 14px;
  color: #d8d8d8;
  margin-bottom: 1rem;
	
  background: none;
  border: none;
	border-bottom: 1px solid #d8d8d8;  
  outline: none;
}

/* Second input field */
#hero #form-wrapper .login-form .content .password, .login-form .content .phone-icon {
	margin-top: 25px;
}

#hero #form-wrapper .user-icon,
#hero #form-wrapper .phone-icon,
#hero #form-wrapper .email-icon   {
	width: 45px;
  height: 45px;
  line-height: 45px;
	display: block;
	position: absolute;
	left: 0px;
  padding-right: 2px;
  background: rgba(255,255,255,.3);
  border-radius: 5px;
}

#hero #form-wrapper .form-group {
  position: relative;
}

#hero #form-wrapper .form-group .animated-icon {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

#hero #form-wrapper .content input:focus + div{
  left: -46px;
  opacity: 1;
}

#hero #form-wrapper .email-icon,
#hero #form-wrapper .user-icon,
#hero #form-wrapper .phone-icon {
	transition: all 0.5s ease;
}

#hero #form-wrapper .login-form .footer {
	padding: 25px 30px 40px 30px;
	overflow: auto;
	
	background: #d4dedf;
	border-top: 1px solid #fff;
	
	box-shadow: inset 0 1px 0 rgba(0,0,0,0.15);
}

/* Login button */
#hero #form-wrapper .login-form .footer .button {
	float:right;
	padding: 11px 25px;
	
	font-weight: 300;
	font-size: 18px;
	color: #fff;
	
	background: #56c2e1;
	border: 1px solid #46b3d3;
	border-radius: 5px;
	cursor: pointer;
}

#hero #form-wrapper .login-form .footer .button:hover {
	background: #3f9db8;
}

#hero #form-wrapper .login-form .footer .register {
	display: block;
	float: right;
	padding: 10px;
	margin-right: 20px;
	
	background: none;
	border: none;
	cursor: pointer;
	font-weight: 300;
	font-size: 18px;
	color: #414848;
}